<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="<%= url_for(action: 'index', controller: 'posts') %>">Todos</a>
      <hr>
    </div>
    <div class="col-md-6">
      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*1') %>">*CPturbo</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*1') %>">*1 - Monitoria</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2') %>">*2 - CPt Designers</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.1') %>">*2.1 - Pedidos e Entregas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.2') %>">*2.2 - Presentes / Avaliação / Exposição</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.3') %>">*2.3 - Tutoriais e Recursos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.4') %>">*2.4 - Dúvidas e Dicas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.5') %>">*2.5 - Sotw</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2.6') %>">*2.6 - Público</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3') %>">*3 - CPt Suporte Técnico</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.1') %>">*3.1 - Dúvidas de Hardware</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.2') %>">*3.2 - Dúvidas de Windows</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.3') %>">*3.3 - Dúvidas de Linux</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.4') %>">*3.4 - Dúvidas de Redes</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.5') %>">*3.5 - Dúvidas de Drivers</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.6') %>">*3.6 - Outras Dúvidas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.7') %>">*3.7 - Dicas e Tutoriais</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*3.8') %>">*3.8 - Público</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*4') %>">*4 - CPt Uploaders</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*4.1') %>">*4.1 - Pedidos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*4.2') %>">*4.2 - Público</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*5') %>">*5 - Revista CPt</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*5.2') %>">*5.2 - Público</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*6') %>">*6 - Escola de Posters</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*6.1') %>">*6.1 - Público</a></li>
          </ul>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1') %>">1 - Geral</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1.1') %>">1.1 - Bem-Vindo ao CPturbo.org</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1.2') %>">1.2 - Informativos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1.2.1') %>">1.2.1 - Especiais</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1.3') %>">1.3 - Sugestões</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '1.4') %>">1.4 - Criação de Novos Grupos</a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2') %>">2 - Filmes e Documentários</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*2') %>">*2 - Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.1') %>">2.1 - Pre-Releases</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.1.1') %>">2.1.1 - Pre-Releases Inferiores</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.1.2') %>">2.1.2 - Pre-Releases Superiores</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.2') %>">2.2 - Standard Definition</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.2.1') %>">2.2.1 - AVI Legendados</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.2.2') %>">2.2.2 - AVI Dublados / Dual Áudio</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.2.3') %>">2.2.3 - DVD-R</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.3') %>">2.3 - High Definition</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.3.1') %>">2.3.1 - HD 720p</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.3.2') %>">2.3.2 - HD 1080p</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.3.3') %>">2.3.3 - Blu-Ray Disc</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.4') %>">2.4 - Outros Formatos</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.5') %>">2.5 - Filmes Nacionais</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6') %>">2.6 - Documentários</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.1') %>">2.6.1 - Biografias / Música e Artes em Geral</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.2') %>">2.6.2 - Ciência / Tecnologia / Arquitetura</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.3') %>">2.6.3 - História / Guerras e Conspirações</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.4') %>">2.6.4 - Política / Economia / Sociedade</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.5') %>">2.6.5 - Ufo / Mistérios / Religião / Espiritualidade</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.6') %>">2.6.6 - Universo / Natureza / Vida Selvagem</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.7') %>">2.6.7 - Filosofia / Psicologia / Comportamento / Sexualidade</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.8') %>">2.6.8 - Esportes / Saúde</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.6.9') %>">2.6.9 - Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '2.7') %>">2.7 - Pedidos e Dúvidas de Filmes</a></li>
        </ul>
      </ul>
      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3') %>">3 - Programas</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1') %>">3.1 - Windows</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.1') %>">3.1.1 - Utilitário e Escritório</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.2') %>">3.1.2 - Área de Trabalho / Aparência</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.3') %>">3.1.3 - Video</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.4') %>">3.1.4 - Imagem</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.5') %>">3.1.5 - Áudio</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.6') %>">3.1.6 - Internet e Rede</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.7') %>">3.1.7 - Segurança</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.8') %>">3.1.8 - Softwares para Programação</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.9') %>">3.1.9 - Métodos e Ativações</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.10') %>">3.1.10 - Outros Programas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.11') %>">3.1.11 - Sistemas Operacionais Windows</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.1.12') %>">3.1.12 - Portables</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.2') %>">3.2 - Linux</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.2.1') %>">3.2.1 - Programas Linux</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.2.2') %>">3.2.2 - Distribuições Linux</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.3') %>">3.3 - MacOS</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.3.1') %>">3.3.1 - Programas MacOS</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.3.2') %>">3.3.2 - Sistemas Operacionais MacOS</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.4') %>">3.4 - Programas de Outros S.O.s</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5') %>">3.5 - Tutoriais de Softwares</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5.1') %>">3.5.1 - Tutoriais de Sistemas Operacionais</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5.2') %>">3.5.2 - Tutoriais de Edição de Áudio e Vídeo</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5.3') %>">3.5.3 - Tutoriais de Segurança, Internet e Rede</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5.4') %>">3.5.4 - Tutoriais/Fontes de Programação e Desenv. Web</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.5.5') %>">3.5.5 - Tutoriais Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '3.6') %>">3.6 - Pedidos e Dúvidas de Programas</a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4') %>">4 - Jogos</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*4') %>">*4 - Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.1') %>">4.1 - PC</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.1.1') %>">4.1.1 - Windows</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.1.2') %>">4.1.2 - MAC</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.2') %>">4.2 - Playstation</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.2.1') %>">4.2.1 - PsOne</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.2.2') %>">4.2.2 - Ps2</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.2.3') %>">4.2.3 - Ps3</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.2.4') %>">4.2.4 - Psp</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.3') %>">4.3 - Xbox</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.3.1') %>">4.3.1 - MMORPG / RPG / Ação / Aventura / FPS</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.3.2') %>">4.3.2 - Esportes / Corrida / Luta</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.3.3') %>">4.3.3 - Simuladores / Estratégia / Puzzle / Outros</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.4') %>">4.4 - Nintendo</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.4.1') %>">4.4.1 - Wii - MMORPG / RPG / Ação / Aventura / FPS</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.4.2') %>">4.4.2 - Wii - Esportes / Corrida / Luta</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.4.3') %>">4.4.3 - Wii - Simuladores / Estratégia / Puzzle / Outros</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.4.4') %>">4.4.4 - NDS</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.5') %>">4.5 - Jogos de Outros Sistemas / Emuladores</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.6') %>">4.6 - Ferramentas e Tutoriais para Jogos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.6.1') %>">4.6.1 - Patches / Expansões / Mods</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.6.2') %>">4.6.2 - Detonados e Cheats</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.6.3') %>">4.6.3 - Tutoriais de Jogos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '4.7') %>">4.7 - Pedidos e Dúvidas de Jogos</a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5') %>">5 - Músicas</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*5') %>">*5 - Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.1') %>">5.1 - Shows e Clipes</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.1.1') %>">5.1.1 - Clipes</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.1.2') %>">5.1.2 - Shows</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.2') %>">5.2 - Álbuns Completos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.2.1') %>">5.2.1 - Lossy</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.2.2') %>">5.2.2 - Lossless</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.3') %>">5.3 - Outros Arquivos de Som</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.3.1') %>">5.3.1 - Singles</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.3.2') %>">5.3.2 - Diversos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.3.3') %>">5.3.3 - Mixtapes/Coletâneas Pessoais</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '5.4') %>">5.4 - Pedidos e Dúvidas de Músicas</a></li>
        </ul>
      </ul>

    </div>
    <div class="col-md-6">

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6') %>">6 - Seriados e Programas de TV</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*6') %>">*6 - Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1') %>">6.1 - Séries em Andamento</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.1') %>">6.1.1 - Novas Séries</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.2') %>">6.1.2 - Agents of Shield</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.3') %>">6.1.3 - American Horror Story</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.4') %>">6.1.4 - Arrow</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.5') %>">6.1.5 - Better Call Saul</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.6') %>">6.1.6 - Daredevil</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.7') %>">6.1.7 - Game of Thrones</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.8') %>">6.1.8 - Gotham</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.9') %>">6.1.9 - Grey's Anatomy</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.10') %>">6.1.10 - Grimm</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.11') %>">6.1.11 - Homeland</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.12') %>">6.1.12 - Person Of Interest</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.13') %>">6.1.13 - Supernatural</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.14') %>">6.1.14 - The Big Bang Theory</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.15') %>">6.1.15 - The Flash</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.16') %>">6.1.16 - The Vampire Diaries</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.17') %>">6.1.17 - The Walking Dead</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.18') %>">6.1.18 - True Detective</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.19') %>">6.1.19 - Vikings</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.1.20') %>">6.1.20 - Outras Séries</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2') %>">6.2 - Séries Finalizadas </a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.1') %>">6.2.1 - 24 Horas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.2') %>">6.2.2 - Breaking Bad</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.3') %>">6.2.3 - Chuck</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.4') %>">6.2.4 - Dexter</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.5') %>">6.2.5 - Fringe</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.6') %>">6.1.6 - Falling Skies</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.7') %>">6.2.7 - Gossip Girl</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.8') %>">6.2.8 - Heroes</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.9') %>">6.2.9 - House</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.10') %>">6.2.10 - How I Met Your Mother</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.11') %>">6.2.11 - Lie to Me</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.12') %>">6.1.12 - Hannibal</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.13') %>">6.2.13 - Lost</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.14') %>">6.2.14 - Prison Break</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.15') %>">6.2.15 - Smallville</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.16') %>">6.2.16 - Sons of Anarchy</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.17') %>">6.2.17 - Spartacus</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.18') %>">6.2.18 - The Mentalist</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.19') %>">6.2.19 - Two And A Half Men</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.20') %>">6.2.20 - White Collar</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.2.21') %>">6.2.21 - Outras Séries Finalizadas</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.3') %>">6.3 - Outros Programas de TV </a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.3.1') %>">6.3.1 - Novelas / Mini-séries</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.3.2') %>">6.3.2 - Esportes</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.3.3') %>">6.3.3 - Programas de TV diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '6.4') %>">6.4 - Pedidos e Dúvidas de Séries </a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7') %>">7 - Animes e Desenhos</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*7') %>">*7 - Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.1') %>">7.1 - Lançamentos / Temporada Atual de Animes</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2') %>">7.2 - Animes</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.1') %>">7.2.1 - "0"-C</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.2') %>">7.2.2 - D-H</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.3') %>">7.2.3 - I-L</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.4') %>">7.2.4 - M-P</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.5') %>">7.2.5 - Q-S</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.2.6') %>">7.2.6 - T-Z</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.3') %>">7.3 - OVA's / Longas de Animes</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.3.1') %>">7.3.1 - OVA's</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.3.2') %>">7.3.2 - Longas</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.4') %>">7.4 - Desenhos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.4.1') %>">7.4.1 - Adult Swim</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.4.2') %>">7.4.2 - Séries</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.4.3') %>">7.4.3 - Longas</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '7.5') %>">7.5 - Pedidos e Dúvidas de Animes e Desenhos</a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8') %>">8 - Cultura, Notícias e Debates</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.1') %>">8.1 – Papo Furado</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.1.1') %>">8.1.1 - Vídeos Youtube / Google / Outros</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2') %>">8.2 - Notícias e Artigos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.1') %>">8.2.1 - Informática / Tecnologia / Dispositivos Móveis</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.2') %>">8.2.2 - Política / Economia</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.3') %>">8.2.3 - Notícias sobre Concursos Públicos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.4') %>">8.2.4 - Mundo / Viagens / Cidades</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.5') %>">8.2.5 - Ciência / Universo</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.6') %>">8.2.6 - Esportes / Saúde / Bem-Estar</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.7') %>">8.2.7 - Cultura / Entretenimento / Música</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.8') %>">8.2.8 -  Filmes / Seriados / Animes</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.9') %>">8.2.9 - Jogos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.2.10') %>">8.2.10 - Diversos </a></li>
          </ul>            
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.3') %>">8.3 - Debates</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.3.1') %>">8.3.1 - Política / Economia</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.3.2') %>">8.3.2 - Ciência / Tecnologia</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.3.3') %>">8.3.3 - Educação / Cultura</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.3.4') %>">8.3.4 - Entretenimento / Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.4') %>">8.4 - Artes e Cultura</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.4.1') %>">8.4.1 - Oficina Literária</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.4.2') %>">8.4.2 - Culinária</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.4.3') %>">8.4.3 - Outros Trabalhos Pessoais </a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5') %>">8.5 - E-books</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.1') %>">8.5.1 - Literatura</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.2') %>">8.5.2 - Ciências Exatas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.3') %>">8.5.3 - Ciências Humanas, Sociais e Biológicas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.4') %>">8.5.4 - Informática</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.5') %>">8.5.5 - Direito / Administração</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.6') %>">8.5.6 - Religiosos / Auto-ajuda</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.7') %>">8.5.7 - Ebooks Diversos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.5.8') %>">8.5.8 - Audiobooks</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.6') %>">8.6 - Revistas</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.6.1') %>">8.6.1 - Informática e Técnicos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.6.2') %>">8.6.2 - Periódicos Jornalísticos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.6.3') %>">8.6.3 - Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.7') %>">8.7 - HQs e Mangás</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.7.1') %>">8.7.1 - Marvel</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.7.2') %>">8.7.2 - DC Comics</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.7.3') %>">8.7.3 - Outras Editoras</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.7.4') %>">8.7.4 - Mangás</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.8') %>">8.8 - Cursos, Vídeo-Aulas, Concursos e Tutoriais Diversos</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.8.1') %>">8.8.1- Cursos e Vídeo-Aulas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.8.2') %>">8.8.2 - Apostilas / Materiais para Concursos e Certificações</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.8.3') %>">8.8.3 - Tutoriais e Dicas</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '8.9') %>">8.9 - Pedidos e Dúvidas Escolares, de E-books, Revistas, HQs</a>, Mangás e Cursos</li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9') %>">9 - Dispositivos Móveis e Recomendações</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '*9') %>">*9 – Reviews / Comentários</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.1') %>">9.1 - Celulares</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.1.1') %>">9.1.1 - Aplicativos Java</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.1.2') %>">9.1.2 - Jogos Java</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.1.3') %>">9.1.3 - Vídeos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.1.4') %>">9.1.4 - Personalização, Manuais, Dicas, Tutoriais e Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '92') %>">9.2 - iPhone / iPod / iTouch / iPad</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.2.1') %>">9.2.1 - Aplicativos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.2.2') %>">9.2.2 - Jogos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.2.3') %>">9.2.3 - Personalização, Manuais, Dicas, Tutoriais e Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.3') %>">9.3 - Android</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.3.1') %>">9.3.1 - Aplicativos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.3.2') %>">9.3.2 - Jogos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.3.3') %>">9.3.3 - Personalização, Manuais, Dicas, Tutoriais e Diversos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.4') %>">9.4 - Symbian / Windows Phone / GPS e Outros Dispositivos Móveis </a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.5') %>">9.5 - Avaliações / Recomendações de Lojas, Produtos e Serviços</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.5.1') %>">9.5.1 - Avaliações / Recomendações de Lojas</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.5.2') %>">9.5.2 - Avaliações / Recomendações de Produtos</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.5.3') %>">9.5.3 - Avaliações / Recomendações de Serviços</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '9.6') %>">9.6 - Pedidos e Dúvidas de Dispositivos Móveis</a></li>
        </ul>
      </ul>

      <hr>

      <ul>
        <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10') %>">10 - Grupos Parceiros</a></li>
        <ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10') %>">Avisos do Portal</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.1.1') %>">10.1.1 - Kusuku jiLAiaa</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.1.1.3') %>">10.1.1.3 - Especiais</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.2.1') %>">10.2.1  - Equilibrium</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.2.1') %>">10.3.1 - Barbanegra</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.2.1') %>">10.4.1 - Mega Seeders JP</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.4.1.2') %>">10.4.1.2 - Portais e Especiais - Mega Seeders JP</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.5.1') %>">10.5.1 - Advanced Series</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.5.1') %>">10.6.1 - The Penguins Seeders</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.6.1.2') %>">10.6.1.2 - Portal e Especial</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.7.1') %>">10.7.1 - Elite</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.7.1.2') %>">10.7.1.2 - Especiais Elite</a></li>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.7.1.3') %>">10.7.1.3 - Central de Pedidos</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.8.1') %>">10.8.1 -TechMinds</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.9.1') %>">10.9.1 - GamerZ</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.10.1') %>">10.10.1 - Sound Evolution</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.10.1.2') %>">10.10.1.2 - Portais e Especiais Sound Evolution</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.11.1') %>">10.11.1 - Music News</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.12.1') %>">10.12.1 - Okaeri Animes</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.13.1') %>">10.13.1 - Liga Sakura</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.14.1') %>">10.14.1 - News S.A</a>.</li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.15.1') %>">10.15.1 - Livraria CPT</a></li>
          <ul>
            <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.15.1.2') %>">10.15.1.2 - Depósito</a></li>
          </ul>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.16.1') %>">10.16.1 - CPt Arte &amp; Cultura</a></li>
          <li><a href="<%= url_for(action: 'index', controller: 'posts', topic: '10.17.1') %>">10.17.1 -  The Mobile Seeders</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>

