<!DOCTYPE html>
<html>
<head>
  <title>CPTurbo RSS</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href='<%= asset_path('favicon.ico') %>' />
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
       <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="<%= asset_path('cpturbo_icon.png') %>" width="24">
          </a>
        </div>
      <li class="active">
        <a href="/">RSS</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a target="_blank" href="https://github.com/IvanMicai/cpturbo-rss">Github</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
